.animatedContainer {
  display: inline-block; /* shrink to text */
  position: relative;
  overflow: hidden;      /* ensure box hides properly */
  justify-self: center;
  align-self: center;
  margin-bottom: 20px; margin-top: 20px;
  opacity: 1;
  transition: width 0.2s ease-out;
}

.animatedBox{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: transform 0.3s ease-in;
  opacity: 1;
  transform: translateX(0);
}

.animatedBox.text{
  background-color: var(--asphalt-pink);
}

.animatedBox.box{
  background-color: var(--background-color);
}


.animatedBox.is-hidden{
  transform: translateX(-101%);
}

.animatedBox.is-visible{
  transform: translateX(0);
}

.animatedBox.is-visible-from-right{
  transform: translateX(0);
}

.animatedBox.is-hidden-to-right{
  transform: translateX(101%);
}







