#body{
    background-color: var(--background-color);
}

#appContainer{
    position: relative;
    width: 100%;
    height: 100vh;
}

.page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.1s ease;
    pointer-events: none;
}

.page.active{
  opacity: 100;
  z-index: 10;
  pointer-events: all;
}

@font-face {
  font-family: Rajdhani-Bold;
  src: url('/fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rajdhani-Semi-Bold;
  src: url('/fonts/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rajdhani-Medium;
  src: url('/fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Google-Regular;
  src: url('/fonts/GoogleSansFlex_24pt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Google-Bold;
  src: url('/fonts/GoogleSansFlex_24pt-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}