#body{
    background-color: #ececec;
}

#appContainer{
    position: relative;
    width: 100%;
    height: 100vh;
}

.page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
}

.page.active{
  opacity: 100;
  z-index: 10;
  pointer-events: all;
}

