.themeButton{
  font-family: Rajdhani-Semi-Bold; 
  border: none;
  height: 50px;
}

.themeButton.typeDisabled{
  /* background: url('../images/buttonBackground.png') no-repeat center !important;
  background-size: contain !important; */
  background-color: #353739;
  color: #868487;
  border: solid; border-color: #868487; border-width: 3px;
}

.themeButton.typeBuy{
  background-color: var(--asphalt-green);
  color: var(--asphalt-black);
  border: solid; border-color: var(--asphalt-black); border-width: 2px;
}
.themeButton.typeBuy:active{
  background-color: var(--asphalt-black);
  color: var(--asphalt-green);
  border-color: var(--asphalt-green); 
}

.themeButton.typeNormal{
  background-color: white;
  color: #3f4b57;
  border: solid; border-color: #3f4b57; border-width: 3px;
}
.themeButton.typeNormal:hover{
  background-color: #3f4b57;
  color: white;
}


#submitButton, #SwitchPage{
  grid-column: 3 / 5;
  font-size: 21px;
  /* transition: background-color .3s ease-in-out, color .3s ease-in-out; */
}

#superSubmitButton{
  grid-column: 2 / 4;
  font-size: 21px;
}


#SwitchPage{  
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

#fakeFillButton{
  font-size: 21px;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

#dryRunButton{
  font-size: 21px;
  grid-column: span 2;
}

#backButton{
  margin-top: 50px;
  font-size: 21px;
  width: 400px;
}