p{
  font-size: 20px;
}

#header{
  text-align: center;
  height: 200px;
  /* border-color: red;
  border-style: solid;
  border-width: 3px; */
}

#body{
  text-align: center;
  height: 900px;
  /* border-color: red;
  border-style: solid;
  border-width: 3px; */
}

#topMessage{
  padding-top: 74px; 
  font-size: 35px;
}

#stockInfoRow{
  justify-content: center;
}

#fieldRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#submitButton{
  margin-left: 20px;
  font-size: 15px;
  width: 150px;
}

.entryField{
  margin-top: 0; margin-bottom: 0; margin-left: 10px;
  font-size: 14px;
}

#summarySection{
  display: flex;
  flex-direction: column;  
  align-items: center;     
}

#summaryBox{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 12px;
  height: 150px;
  width: 1000px;
  border-color: #1159d2;
  border-style: solid;
  border-width: 3px;
  border-radius: 20px;
}

.summaryItem{
  position: relative;
  font-size: 22px;
}

