:root {
  --asphalt-green: #c3fb12;
  --asphalt-pink: #ff0054;
  --asphalt-grey: #3f4b57;
  --asphalt-black: #182128;
}

p{
  font-size: 26px;
  font-family: Rajdhani-Semi-Bold;
  color: #050311;
}

.themeHighlight{
  color: #ff0054;
}

#header{
  text-align: center;
  height: 200px;
  /* border-color: red;
  border-style: solid;
  border-width: 3px; */
}

#body{
  text-align: center;
  height: 900px;
  /* border-color: red;
  border-style: solid;
  border-width: 3px; */
}

#topMessage{
  padding-top: 74px; 
  font-size: 35px;
  font-family: Rajdhani-Bold;
}

#stockInfoRow{
  justify-content: center;
  align-items: center;
  color: #050311;
}

#fieldRow{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: repeat(4, 40px);
  gap: 15px;
  justify-content: center;
  /* border-color: #1159d2;
  border-style: solid;
  border-width: 3px; */
}

.entryField, .entryFieldNumber{
  margin-top: 2px;
  height: 33px; 
  font-size: 17px;
  font-family: Rajdhani-Medium;
  color: black;
  background-color: white;
  transition: background-color 0.0s ease-out;
} 

.entryLabel{
  margin-top: 10px;
  font-size: 17px;
  font-family: Rajdhani-Semi-Bold;
}