:root {
  --asphalt-green: #c3fb12;
  --asphalt-pink: #ff0054;
  --asphalt-grey: #3f4b57;
  --asphalt-black: #182128;
  --background-color: #ececec;
}

p{
  font-size: 26px;
  font-family: Rajdhani-Semi-Bold;
  color: #050311;
  margin-bottom: 0px;
  margin-top: 0px;
}

.themeHighlight{
  color: #ff0054;
}

#topPage{
  margin-top: 125px;
  display: grid;
}

#body{
  text-align: center;
  height: 900px;
  /* border-color: red;
  border-style: solid;
  border-width: 3px; */
}

#topBar{
  background-color: rgb(19 35 60);
  color: white;
  font-family: Rajdhani-Semi-Bold;
  font-size: 22px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 300px 300px 300px 250px auto;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.topBarContainer{
  margin: 0px 0px 75px 0px;
  width: 100%;
  height: 50px;
  clip-path: inset(0% 0% 0% 0%);
  transition: clip-path 0.2s ease-in-out, opacity 0.4s ease-out;
  /* opacity: 1; */
}

.topBarContainer.curtainClose{
  clip-path: inset(0% 50% 0% 50%);
}

.flashBox{
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  background-color: white;
  z-index: -1;
}

.barItem{
  display: flex;
  align-items: center;     
  justify-content: center; 
  border: solid 1px white;
  width: 100%;
  height: 100%;
}

#marketStatus{grid-column: 4/5;}#topClock{grid-column: 5/6}

.clock{
  font-size: 75px;
}

#stockInfoRow{
  justify-content: center;
  align-items: center;
  color: #050311;
}

#superFieldRow{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 60px 60px 60px;
  gap: 10px;
  justify-content: center;
  margin-bottom: 100px;
}

#fieldRow{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px;
  gap: 15px;
  justify-content: center;
  /* border-color: #1159d2;
  border-style: solid;
  border-width: 3px; */
}

#topMessage {
  font-size: 35px;
  font-family: Rajdhani-Bold;
  margin: 0;
  position: relative;
  z-index: -1;           
  opacity: 1;           
  transition: opacity 0.3s ease 0.5s; 
  width: 500px;
  height: 50px;
}

.entryField, .entryFieldNumber, .entryFieldNumberForSuper, .entryFieldForSuper{
  margin-top: 2px;
  height: 33px; 
  font-size: 17px;
  font-family: Rajdhani-Semi-Bold;
  color: black;
  background-color: white;
  transition: background-color 0.0s ease-out;
} 

.entryLabel{
  margin-top: 10px;
  font-size: 17px;
  font-family: Rajdhani-Semi-Bold;
}

#superSymbol{
  grid-column: 3/4;
}
#superAverageVolume{
  opacity: 1;
}
#superTicker{
  grid-column: 2/3;
}
#superAverageVolumeText{
  grid-column: 2/3;;
}

#superAverageVolume:disabled {
  cursor: not-allowed;  
}