p{
  font-size: 26px;
  font-family: Moderat-Normal;
  color: white;
}

#header{
  text-align: center;
  height: 200px;
  /* border-color: red;
  border-style: solid;
  border-width: 3px; */
}

#body{
  text-align: center;
  height: 900px;
  /* border-color: red;
  border-style: solid;
  border-width: 3px; */
}

#topMessage{
  padding-top: 74px; 
  font-size: 35px;
  font-family: Moderat-Bold;
}

#stockInfoRow{
  justify-content: center;
  align-items: center;
  color: white;
}

#fieldRow{
  display: grid;
  grid-template-columns: 190px 200px 190px 200px;
  grid-template-rows: repeat(4, 40px);
  gap: 15px;
  justify-content: center;
  /* border-color: #1159d2;
  border-style: solid;
  border-width: 3px; */
}

#submitButton{
  grid-column: span 4;
  font-family: Moderat-Normal; 
  height: 45px;
  font-size: 15px;
  color: white;   
  background-color: #747b7c8d;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  border-radius: 50px;
  border: none;
}

#submitButton:hover{
  background-color: #1fd9fe;
  color: black;
}

.entryField{
  margin-top: 2px;
  height: 33px; 
  font-size: 14px;
  font-family: Moderat-Normal;
} 

.entryLabel{
  margin-top: 10px;
  font-family: Moderat-Normal;
}