.animatedCloak.aiResBox{
  position: relative;
  grid-column: 2/4;
  grid-row: 2/3;
  width: 500px;
  height: fit-content;
  left: 86px;
  top: 120px;
  padding: 16px;
  text-align: left;
  transition: height 0.8s ease-out;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 25px auto;
  gap: 10px;

  background-color: #f0f4f9;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  font-family: Google-Regular;
  font-size: 18px;
}

#geminiStar{
  position: relative;
  width: 25px; height: 25px;
}

.bold{
  font-family: Google-Bold;
}

#textBoxAI{
  grid-row: 2/3;
  grid-column: 2/3;
  max-height: 400px;
  white-space: pre-line;
  overflow-y: auto;
  padding-right: 10px;
}

.spinning {
  animation: spin 3s ease infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(360deg);
  }
}