.animatedCloak.aiResBox{
  position: relative;
  grid-column: 2/4;
  grid-row: 2/3;
  width: 500px;
  height: fit-content;
  left: 86px;
  top: 120px;
  padding: 16px;
  text-align: left;
  transition: height 0.8s ease-out;

  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 25px auto;
  gap: 10px;

  background-color: #f0f4f9;
  border-color: black;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  font-family: Google-Regular;
  font-size: 18px;
}

#geminiStar{
  position: relative;
  width: 25px; height: 25px;
}

.bold{
  font-family: Google-Bold;
}

#textBoxAIContainer{
  grid-row: 2/3;
  grid-column: 2/3; 
}

#textBoxAI{
  max-height: 400px;
  white-space: pre-line;
  overflow-y: auto;
  padding-right: 10px;
}

.spinning {
  animation: spin 3s ease infinite; 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(-40deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.geminiProgressContainer{
  display: none;
  width: 100%;
  height: 20px; /* Thin like Gemini's bar */
  background-color: #e5edff; /* Light gray track */
  overflow: hidden; /* Clips the bar when it slides out */
  position: relative;
  border-radius: 20px;
  margin-bottom: 10px;
  opacity: 1;
}

.geminiProgressContainer.short{
  width: 60%;
}

.geminiProgressBar {
  display: block;
  position: relative;
  width: 150%; /* Length of the blue piece */
  height: 100%;
  background: linear-gradient(90deg, #e5edff, #98baf2, #e5edff); /* Gemini-style gradient */
  left: -100%; 
  animation: slide 1.7s infinite linear;
}

@keyframes slide {
  0% {
    left: -200%;
  }
  100% {
    left: 200%; 
  }
}