#summarySection{
  margin-top: 100px;
  width: 1170px;
  display: grid;
  justify-self: center;
  align-self: center;
  flex-direction: column;  
  font-family: Rajdhani-Medium;  
  color: var(--asphalt-black);   
}

#summaryBox{
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 100px 60px 60px 60px 60px 120px; 
  margin-left: 50px;
  justify-self: center;
  align-self: center;
  gap: 5px;
  height: 525px;
  width: 375px;
  text-align: left;
  background-color: #272d33cc;
}

.summaryItem{
  position: relative;
  left: 50px;
  font-size: 25px;
  width: 500px;
  z-index: 2;
  grid-column: 1/2;
  color: white;
  /* border-color: #1159d2;
  border-style: solid;
  border-width: 3px; */
}

#percentUpBox{
  grid-row: 2/3;
}
#rvolBox{
  grid-row: 3/4;
}
#priceBox{
  grid-row: 4/5;
}
#floatBox{
  grid-row: 5/6;
}

#backgroundTicker{
  position: relative;
  left: 20px;
  top: 10px;
  height: 55px;
  width: 340px;
  font-size: 60px;
  font-family: Rajdhani-Semi-Bold;
  color: var(--asphalt-pink);
  z-index: 1;
  /* clip-path: polygon(0% 0%, 100% 0%, 90% 100%, 0% 100%); */
}

.summaryNumber{
  position: relative;
  left: 140px;
  font-size: 23px;
  grid-column: 1/2;
  color: white;
  text-align: center;
  font-family: Rajdhani-Semi-Bold;  
}
#percentUp{
  grid-row: 2/3;
}
#rvol{
  grid-row: 3/4;
}
#price{
  grid-row: 4/5;
}
#float{
  grid-row: 5/6;
}

/* Loading Bar Code */

.progressContainer{
  position: relative;
  width: 300px;
  height: 5px;
  overflow: hidden; /* Clips the filling to the rounded corners */
}
.progressContainer.summaryBar{
  left: 50px;
  top: 35px;
  grid-column: 1/2;
}
.progressBar{
  width: 0%; 
  height: 100%;
  background-color: rgb(52 236 250);
  transition: width 1s ease-out; 
}

.no-transition {
  transition: none !important;
}

#percetProgress{grid-row: 2/3;} #rvolProgress{grid-row: 3/4;} 
#priceProgress{grid-row: 4/5;} #floatProgress{grid-row: 5/6;}