#summarySection{
  margin-top: 100px;
  width: 1170px;
  display: grid;
  grid-template-columns: 400px 400px 375px;
  grid-template-rows: 50px 600px;
  gap: 15px;
  justify-self: center;
  align-self: center;
  font-family: Rajdhani-Medium;  
  color: var(--asphalt-black);   
}

.summaryPageTitle{
  grid-row: 1/2;
  grid-column: 1/4;
}

.animatedContainer.stockNameContainer{
  align-self: start;
  justify-self: start;
  grid-row: 2/3;
  grid-column: 1/2;
  width: 400px;
  height: 135px;
  z-index: 5;
}

#tickerContainer, #longNameContainer{
  position: relative;
  background-color: white;
  width: 150px;
  height: 70px;
  text-align: center;
  font-size: 60px;
  font-family: Rajdhani-Bold;
  z-index: 1;
  top: 15px;
  left: 25px;
}

#longNameContainer{
  top: 22px;
  font-size: 25px;
  padding-left: 5px; padding-right: 5px;
  width: fit-content;
  height: fit-content;
}

#summaryBox{
  display: grid;
  grid-template-columns: 375px;
  grid-template-rows: 100px 60px 60px 60px 60px 60px 60px; 
  gap: 5px;
  text-align: left;
  background-color: #272d33cc;
}

.summaryBoxContainer{
  grid-row: 2/3;
  grid-column: 1/2;
}

.summaryItem{
  position: relative;
  left: 50px;
  font-size: 25px;
  width: 500px;
  z-index: 2;
  grid-column: 1/2;
  color: white;
  /* border-color: #1159d2;
  border-style: solid;
  border-width: 3px; */
}

#percentUpBox{
  grid-row: 2/3;
}
#rvolBox{
  grid-row: 3/4;
}
#priceBox{
  grid-row: 4/5;
}
#curVolumeBox{
  grid-row: 5/6;
}
#floatBox{
  grid-row: 6/7;
}

.summaryNumber{
  position: relative;
  left: 140px;
  font-size: 23px;
  grid-column: 1/2;
  color: white;
  text-align: center;
  font-family: Rajdhani-Semi-Bold;  
}
#percentUp{
  grid-row: 2/3;
}
#rvol{
  grid-row: 3/4;
}
#price{
  grid-row: 4/5;
}
#currentVolume{
  grid-row: 5/6;
}
#currentFloat{
  grid-row: 6/7;
}

/* Loading Bar Code */

.progressContainer{
  position: relative;
  width: 300px;
  height: 5px;
  overflow: hidden; /* Clips the filling to the rounded corners */
}
.progressContainer.summaryBar{
  left: 50px;
  top: 35px;
  grid-column: 1/2;
}
.progressBar{
  width: 0%; 
  height: 100%;
  background-color: rgb(52 236 250);
  transition: width 1s ease-out; 
}

.no-transition {
  transition: none !important;
}

#percetProgress{grid-row: 2/3;} #rvolProgress{grid-row: 3/4;} 
#priceProgress{grid-row: 4/5;} #curVolumeProgress{grid-row: 5/6;} #curFloatProgress{grid-row: 6/7;}