@font-face {
  font-family: Moderat-Bold;
  src: url('/fonts/Moderat-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Moderat-Normal;
  src: url('/fonts/Moderat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Moderat-Medium;
  src: url('/fonts/Moderat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#summarySection{
  display: flex;
  flex-direction: column;  
  font-family: Moderat-Medium;  
  color: white;   
}

#summaryBox{
  display: grid;
  grid-template-columns: repeat(46, 10px);
  grid-template-rows: repeat(13, 2px);
  align-self: center;
  gap: 12px;
  height: 160px;
  width: 1000px;
  text-align: left;
  border-color: #1159d2;
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
}

.summaryItem{
  font-size: 25px;
  grid-column: 2 / 28;
  width: 500px;
  z-index: 2;
  /* border-color: #1159d2;
  border-style: solid;
  border-width: 3px; */
}

#percentUpBox{
    grid-row: 2 / 3;   
}
#rvolBox{
    grid-row: 4 / 5;
}
#priceBox{
    grid-row: 6 / 7;
}
#floatBox{
    grid-row: 8 / 9
}

#backgroundTicker{
    font-size: 150px;
    color: #1fd9fe;
    opacity: 10%;
    grid-column: 15 / 15;
    grid-row: 0 / 1;
    z-index: -1;
}