@font-face {
  font-family: Rajdhani-Bold;
  src: url('/fonts/Rajdhani-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rajdhani-Semi-Bold;
  src: url('/fonts/Rajdhani-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rajdhani-Medium;
  src: url('/fonts/Rajdhani-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#summarySection{
  margin-top: 300px;
  display: flex;
  flex-direction: column;  
  font-family: Rajdhani-Medium;  
  color: var(--asphalt-black);   
}

#summaryBox{
  display: grid;
  grid-template-columns: repeat(46, 10px);
  grid-template-rows: repeat(13, 2px);
  align-self: center;
  gap: 12px;
  height: 160px;
  width: 1000px;
  text-align: left;
  border-color: var(--asphalt-grey);
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;
}

.summaryItem{
  font-size: 25px;
  grid-column: 2 / 28;
  width: 500px;
  z-index: 2;
  /* border-color: #1159d2;
  border-style: solid;
  border-width: 3px; */
}

#percentUpBox{
    grid-row: 2 / 3;   
}
#rvolBox{
    grid-row: 4 / 5;
}
#priceBox{
    grid-row: 6 / 7;
}
#floatBox{
    grid-row: 8 / 9
}

#backgroundTicker{
    font-size: 150px;
    color: var(--asphalt-pink);
    opacity: 10%;
    grid-column: 19 / 29;
    grid-row: 3 / 14;
    z-index: 1;
    justify-self: center; 
    align-self: center;
    border-width: 5px;
}